// Base config and colors
@import url(https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&display=swap);
$font-stack:
  JetBrains Mono,
  monospace;

// Palette
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;
$text: #cdd6f4;
$blue: #89b4fa;
